/* CSS */

body {
    font-family: 'Helvetica', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
    height: 100vh; /* Make the body take the full height of the viewport */
}

.container {
    max-width: 800px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header,
.project-page,
.navbar,
.content,
.footer {
    text-align: center; /* Center-align text */
    font-size: 1.2rem; /* Increase text size */
}

.header {
    background: url('/static/images/header-bg.jpg') center/cover no-repeat;
    color: #fff;
    padding: 20px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    animation: slideshow 10s infinite;
}

.project-page {
    background: url('/static/images/project-bg.jpg') center/cover no-repeat;
    padding: 20px;
}

.navbar {
    background-color: #444;
    color: #fff;
    padding: 10px;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
}

.navbar ul li {
    display: inline;
    margin-right: 20px;
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.navbar ul li a:hover {
    color: #f0f0f0;
}

.content {
    padding: 20px;
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

/* Keyframes for slideshow animation */
@keyframes slideshow {
    0% { opacity: 0; }
    25% { opacity: 1; }
    75% { opacity: 1; }
    100% { opacity: 0; }
}
